x-logging: &default-logging
  driver: "json-file"
  options:
    max-size: "10m"
    max-file: "3"

services:
  meeting:
    image: lblod/meeting-service:0.0.5
    restart: always
    logging: *default-logging
    labels:
      - "logging=true"
  editor:
    image: lblod/frontend-gelinkt-notuleren:5.68.1
    restart: always
    logging: *default-logging
    labels:
      - "logging=true"
  identifier:
    image: semtech/mu-identifier:1.10.3
    restart: always
    logging: *default-logging
    labels:
      - "logging=true"
    environment:
      DEFAULT_MU_AUTH_ALLOWED_GROUPS_HEADER: '[{"variables":[],"name":"public"}, {"variables":[],"name":"lmb-public"}]'
      DEFAULT_ACCESS_CONTROL_ALLOW_ORIGIN_HEADER: "*"
      SESSION_COOKIE_SECURE: "on"
      SESSION_COOKIE_SAME_SITE: "None"
  deltanotifier:
    image: semtech/mu-delta-notifier:0.2.0
    volumes:
      - ./config/delta:/config
    restart: always
    logging: *default-logging
    labels:
      - "logging=true"
  dispatcher:
    image: semtech/mu-dispatcher:2.1.0-beta.1
    volumes:
      - ./config/dispatcher:/config
    restart: always
    logging: *default-logging
    labels:
      - "logging=true"
  database:
    image: semtech/mu-authorization:0.6.0-beta.8
    environment:
      MU_SPARQL_ENDPOINT: "http://virtuoso:8890/sparql"
      DATABASE_COMPATIBILITY: Virtuoso
    volumes:
      - ./config/authorization:/config
    restart: always
    logging: *default-logging
    labels:
      - "logging=true"
  virtuoso:
    image: redpencil/virtuoso:1.2.0-rc.1
    environment:
      SPARQL_UPDATE: "true"
      DEFAULT_GRAPH: "http://mu.semte.ch/application"
    volumes:
      - ./data/db:/data
    restart: always
    logging: *default-logging
    labels:
      - "logging=true"
  migrations:
    image: semtech/mu-migrations-service:0.8.0
    links:
      - virtuoso:database
    volumes:
      - ./config/migrations:/data/migrations
    environment:
      MU_SPARQL_TIMEOUT: "600"
    restart: always
    logging: *default-logging
    labels:
      - "logging=true"
  login:
    image: lblod/acmidm-login-service:0.8.0
    environment:
      MU_APPLICATION_AUTH_DISCOVERY_URL: "https://authenticatie-ti.vlaanderen.be/op"
      MU_APPLICATION_AUTH_CLIENT_ID: "68b1585d-0e13-4817-820e-c475207673ed"
      MU_APPLICATION_AUTH_REDIRECT_URI: "https://gelinkt-notuleren.lblod.info/authorization/callback"
      MU_APPLICATION_AUTH_CLIENT_SECRET: "secret"
      MU_APPLICATION_AUTH_ROLE_CLAIM: "abb_gelinktNotuleren_rol_3d"
      LOG_SINK_URL: "http://sink"
      LOGS_GRAPH: "http://mu.semte.ch/graphs/login-error-logs"
    restart: always
    logging: *default-logging
    labels:
      - "logging=true"
  sink:
    image: nginx:1.15.2
    volumes:
      - ./config/sink/sink.conf:/etc/nginx/conf.d/default.conf
    restart: always
    logging: *default-logging
    labels:
      - "logging=true"
  cache:
    image: semtech/mu-cache:2.0.1
    links:
      - resource:backend
    restart: always
    logging: *default-logging
    labels:
      - "logging=true"
  resource:
    image: semtech/mu-cl-resources:1.24.0
    volumes:
      - ./config/resources:/config
    environment:
      CACHE_CLEAR_PATH: "http://cache/.mu/clear-keys"
    restart: always
    logging:
      driver: "json-file"
      options:
        max-size: "50m"
        max-file: "3"
    labels:
      - "logging=true"
  prepublish:
    image: lblod/notulen-prepublish-service:2.7.0
    environment:
      TZ: "Europe/Brussels"
    restart: always
    logging: *default-logging
    labels:
      - "logging=true"
    volumes:
      - ./data/files/:/share/
  file:
    image: semtech/mu-file-service:3.1.0
    restart: always
    logging: *default-logging
    labels:
      - "logging=true"
    links:
      - database:database
    volumes:
      - ./data/files/:/share/
  published-resource-producer:
    image: lblod/published-resource-producer:1.2.0
    volumes:
      - ./data/files:/share
    environment:
      RELATIVE_FILE_PATH: "deltas/published-resource"
    logging: *default-logging
    restart: always
    labels:
      - "logging=true"
  project-scripts:
    image: semtech/mu-scripts:1.0.0
    volumes:
      - ./scripts/project:/app/scripts/
    restart: "no"
  codex-proxy:
    image: lblod/codex-reverse-proxy-service
    logging: *default-logging
    labels:
      - "logging=true"
    restart: always
  agendapoint-service:
    image: lblod/gn-agendapoint-service:1.0.3
    logging: *default-logging
    labels:
      - "logging=true"
    restart: always
  dashboard:
    image: lblod/frontend-dashboard:1.4.0
    restart: always
    logging: *default-logging
    labels:
      - "logging=true"
    links:
      - identifier:backend
  dashboard-identifier:
    image: semtech/mu-identifier:1.9.1
    links:
      - dashboard-dispatcher:dispatcher
    restart: always
    logging: *default-logging
    labels:
      - "logging=true"
    environment:
      DEFAULT_MU_AUTH_ALLOWED_GROUPS_HEADER: '[{"variables":[],"name":"public"}]'
      DEFAULT_ACCESS_CONTROL_ALLOW_ORIGIN_HEADER: "*"
      SESSION_COOKIE_SECURE: "on"
      SESSION_COOKIE_SAME_SITE: "None"
  dashboard-dispatcher:
    image: semtech/mu-dispatcher:2.1.0-beta.1
    volumes:
      - ./config/dashboard-dispatcher:/config
    restart: always
    logging: *default-logging
    labels:
      - "logging=true"
  dashboard-login:
    image: semtech/mu-login-service:2.9.1
    links:
      - database:database
    environment:
      USERS_GRAPH: "http://mu.semte.ch/graphs/users"
      SESSIONS_GRAPH: "http://mu.semte.ch/graphs/sessions"
    restart: always
    logging: *default-logging
    labels:
      - "logging=true"
  report-generation:
    image: lblod/loket-report-generation-service:0.5.0
    links:
      - database:database
    environment:
      DEFAULT_GRAPH: "http://mu.semte.ch/graphs/reports"
    volumes:
      - ./data/files:/share
      - ./config/reports:/app/reports
    restart: always
    logging: *default-logging
    labels:
      - "logging=true"
  lpdc-service:
    image: lblod/api-proxy-service:1.0.1
    links:
      - database:database
    environment:
      API_URL: "https://api.ipdc.vlaanderen.be"
      API_KEY: "VERY_SECRET_KEY_REPLACE_ME"
      REQUIRED_ROLES: "GelinktNotuleren-publiceerder,GelinktNotuleren-schrijver,GelinktNotuleren-ondertekenaar"
    restart: always
    logging: *default-logging
    labels:
      - "logging=true"

  ldes-client:
    image: lblod/ldes-client:0.0.3
    volumes:
      - ./config/ldes-client/processPage.ts:/config/processPage.ts
    links:
      - database:database
      - virtuoso:virtuoso
    restart: always
    environment:
      CRON_PATTERN: "*/1 * * * *"
      TARGET_GRAPH: "http://mu.semte.ch/graphs/mandaten-staging"
      DIRECT_DATABASE_CONNECTION: "http://virtuoso:8890/sparql"
      RANDOMIZE_GRAPHS: "true"
      BATCH_SIZE: 100
      BYPASS_MU_AUTH: "false"
      EXTRA_HEADERS: "secret"
    logging: *default-logging
    labels:
      - "logging=true"
  sparql-cache:
    image: redpencil/varnish-post:1.0.0
    environment:
      BACKEND_HOST: database
    restart: always
    logging: *default-logging
    labels:
      - "logging=true"

  ################################################################################
  # AWV LDES Services
  ################################################################################
  consumer:
    # image: redpencil/ldes-consumer:...
    build:
      context: https://github.com/piemonkey/ldes-consumer-service.git#feature/jwt-auth
      dockerfile: ./Dockerfile
    volumes:
      - "./data/ldes-consumer:/data"
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
    environment:
      LDES_VERSION_OF_PATH: "http://purl.org/dc/terms/isVersionOf"
      LDES_TIMESTAMP_PATH: "http://purl.org/dc/terms/issued"
      MU_SPARQL_ENDPOINT: "http://database:8890/sparql"
      MU_APPLICATION_GRAPH: "http://mu.semte.ch/graphs/awv/ldes"
      INGEST_MODE: "MATERIALIZE"
      PERSIST_STATE: true
      LDES_ENDPOINT_VIEW: "https://services.apps-dev.mow.vlaanderen.be/ldes-server/geplande-opstellingen-v1/by-page"
      LDES_SANITIZE_CONTENTS_STRING: "\\u0020"
      JWT_USE_JWT_AUTH: true
      JWT_CLIENT_ID: "d9718ad9-b093-4f64-80dc-a0f677ae15e5"
      JWT_KEY_PATH: "/data/awv.json"
      JWT_KEY_ALGORITHM: "RS256"
      JWT_TOKEN_URL: "https://authenticatie.vlaanderen.be/op/v1/token"
      JWT_TOKEN_REQUEST_AUDIENCE: "https://authenticatie.vlaanderen.be/op"
      JWT_TOKEN_REQUEST_EXPIRY: "10minutes"
      JWT_TOKEN_SCOPE: "awv_toep_services"
      JWT_CLIENT_ASSERTION_TYPE: "urn:ietf:params:oauth:client-assertion-type:jwt-bearer"

  uuid-generation:
    image: redpencil/uuid-generation:0.4.1
    volumes:
      - ./config/uuid-generation/:/config
    restart: always
    labels:
      - "logging=true"
    logging: *default-logging

  vks-design-service:
    image: lblod/vks-design-service:feature-import-vks-designs
    environment:
      MOW_ENDPOINT: 'https://roadsigns.lblod.info/sparql'
    restart: always
    labels:
      - "logging=true"
    logging: *default-logging
