services:
  dashboard:
    restart: "no"
  dashboard-identifier:
    restart: "no"
  meeting:
    restart: "no"
  editor:
    restart: "no"
    environment:
      EMBER_ENVIRONMENT_NAME: "local"
  identifier:
    environment:
      SESSION_COOKIE_SECURE: "false"
      # SAME_SITE: "None" doesn't work with insecure cookies
      SESSION_COOKIE_SAME_SITE: "Lax"
    restart: "no"
  database:
    restart: "no"
  virtuoso:
    restart: "no"
  dispatcher:
    restart: "no"
  migrations:
    restart: "no"
  login:
    restart: "no"
  cache:
    restart: "no"
  sink:
    restart: "no"
  resource:
    restart: "no"
  prepublish:
    restart: "no"
  deltanotifier:
    restart: "no"
  mocklogin:
    image: lblod/mock-login-service:0.4.0
  yasgui:
    image: erikap/yasgui
    environment:
      ENABLE_ENDPOINT_SELECTOR: "true"
      DEFAULT_SPARQL_ENDPOINT: "http://localhost:8890/sparql"
  file:
    restart: "no"
  published-resource-producer:
    restart: "no"
  codex-proxy:
    restart: "no"
  agendapoint-service:
    restart: "no"
  report-generation:
    restart: "no"
  dashboard-dispatcher:
    restart: "no"
  dashboard-login:
    restart: "no"
  lpdc-service:
    restart: "no"
  sparql-cache:
    restart: "no"
  vks-design-service:
    restart: "no"
  ldes-client:
    restart: "no"
