services:
  dashboard:
    ports:
      - "82:80"
    restart: "no"
  dashboard-identifier:
    ports:
      - "81:80"
    restart: "no"
  proxy:
    image: nginx:1.13
    volumes:
      - ./config/proxy:/etc/nginx/conf.d
    ports:
      - "443:443"
  meeting:
    restart: "no"
  editor:
    restart: "no"
    environment:
      EMBER_ENVIRONMENT_NAME: "local"
  identifier:
    environment:
      SESSION_COOKIE_SECURE: "false"
      # SAME_SITE: "None" doesn't work with insecure cookies
      SESSION_COOKIE_SAME_SITE: "Lax"
    ports:
      - "80:80"
    restart: "no"
  database:
    restart: "no"
  virtuoso:
    ports:
      - "8890:8890"
    restart: "no"
  dispatcher:
    restart: "no"
  migrations:
    volumes:
      - ./config/dev-migrations:/data/migrations/dev/
    restart: "no"
  login:
    restart: "no"
  cache:
    restart: "no"
  sink:
    restart: "no"
  resource:
    restart: "no"
  prepublish:
    restart: "no"
  deltanotifier:
    restart: "no"
  mocklogin:
    image: lblod/mock-login-service:0.4.0
  yasgui:
    image: erikap/yasgui
    ports:
      - 8891:80
    environment:
      ENABLE_ENDPOINT_SELECTOR: "true"
      DEFAULT_SPARQL_ENDPOINT: "http://localhost:8890/sparql"
  file:
    restart: "no"
  published-resource-producer:
    restart: "no"
  codex-proxy:
    restart: "no"
  agendapoint-service:
    restart: "no"
  report-generation:
    restart: "no"
  dashboard-dispatcher:
    restart: "no"
  dashboard-login:
    restart: "no"
  lpdc-service:
    restart: "no"
  ldes-client:
    restart: "no"
    command: "/bin/false" # overwrite when testing
  sparql-cache:
    restart: "no"
  consumer:
    restart: "no"
  uuid-generation:
    restart: "no"
  vks-design-service:
    restart: "no"
